body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.8071603641456583) 0%, rgba(81,0,255,1) 100%);
}

h3 {
    font-family: 'Titan One', cursive;
    font-size: 40px;
    text-align: center;
    background-color: #5b34eb;
    color: white;
    margin: 0;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

label {
    font-size: 11px;
    font-family: Arial;
}

.field {
    position: relative;
    height: 52px;
    width: 100%;
    max-width: 150px;
    color: white;
    overflow: hidden;
}

.field input {
    position: absolute;
    height: 52px;
    width: 100%;
    max-width: 150px;
    color: white;
    line-height: 52px;
    outline: 0;
    background-color: inherit;
    padding-top: 25px;
    border: none;
    box-sizing: border-box;
}

.field .label-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: inherit;
    left: 0;
    pointer-events: none;
    border-bottom: 1px solid white;
}

.field .label-wrapper::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5b34eb;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
}

.field .label-text {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.2s ease;
}

.field input:focus + .label-wrapper .label-text,
.field input:valid + .label-wrapper .label-text {
    font-size: 12px;
    color: #5b34eb;
    transform: translateY(-150%);
}

.field input:focus + .label-wrapper::after,
.field input:valid + .label-wrapper::after {
    transform: translateX(0%);
}